@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 0.2px solid grey; */
}

body{
    font-family: 'Pixelify Sans', sans-serif;
}

input{
    display: block;
}

label{
    display: block;
}